<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.flywith24.dynamicfeaturedemo.feature2">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature2">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:allowBackup="false">
        <activity android:name=".Feature2Activity" />
    </application>

</manifest>